.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Optional: to stack items vertically */

}
.title{
    font-size: 1rem;
    margin-bottom: 10px;
    max-width:500px;
    text-align: center;
    color: #CF9FFF;
    
}
.desc{
    font-size: 1rem;
    margin-bottom: 10px;
    width: 500px;
    color: #CF9FFF;
    text-align: center;
}
h4{
    color: #CF9FFF;
    text-shadow: 0 0 8px #BF40BF, 0 0 40px #BF40BF;
}
.btn-primary {
    background-color:#CF9FFF; /* Custom background color */
        
  }
  
  .btn-primary:hover {
    background-color: #BF40BF; /* Hover color */
   
  }

input{
    background-color: rgba(54, 69, 79, 0.5); 
    color: #CF9FFF;
    
}

/* Mobile screens (up to 576px) */
@media (max-width: 576px) {
    .box {
        
        max-width: 100%; /* Take up most of the screen width */
       
    }
    .title{
        max-width: 55%;
        margin-left: 140px;
    }
    .desc{
        max-width: 55%;
       margin-left: 140px;
    }
    .btn-primary {
        background-color:#CF9FFF; /* Custom background color */
        margin-left: 140px;
            
    }

}

/* Tablet screens (up to 768px) */
@media (max-width: 768px) {
    .box {
        
        max-width: 95%; /* Slightly larger width for tablets */
        
    }
}
